@using PagedList
@using PagedList.Mvc
@model IPagedList<WebSales.Models.EF.Category>

@{
    ViewBag.Title = "Index";
}

<div class="card shadow">
    <div class="card-body">
        <h2>Loại sản phẩm</h2>
        @Html.Partial("IndexParitalView\\CreateAndFind")
        <table class="table table-sm table-bordered table-hover table-striped">
            <tr>
                <th>
                    Tên tiếng Anh
                </th>
                <th>
                    Tên tiếng Việt
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameVN)
                    </td>
                    <td class="text-nowrap" width="1px">
                        @Html.Partial("IndexParitalView\\TableFeature", item.ID)
                    </td>
                </tr>
            }

        </table>
        <div>
            @Html.Partial("IndexParitalView\\PagedList", Model)
        </div>
    </div>
</div>

@section css{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}